{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Oluwatosin Olasupo Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v2.2.1
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
        <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="#services"><i class="bx bx-server"></i> <span>Services</span></a></li>
        <li><a href="#contact"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Oluwatosin Olasupo</h1>
      <p>I'm <span class="typed" data-typed-items="A Full Stack Developer, A Freelancer, A Graphics Designer, An Ethical Hacker, A Structural Engineer"></span></p>
      <div class="social-links">
        <a href="https://twitter.com/Oluwa_teeblaQ" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/olasupo.tosin" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/oluwateeblaq/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://github.com/TeeblaQ1" class="google-plus"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/oluwatosin-olasupo-b8224b156" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>A young and dynamic developer with self-driven and outstanding personnel possessing competent academic pedigree, with outstanding problem-solving skills, awesome interpersonal relationship, team spirit, and exceptional willingness to improve and acquire hands-on experience thus making the world a better place.</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{% static 'assets/img/profile-img.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Full Stack Developer &amp; Ethical Hacker.</h3>
            <p class="font-italic">
              I have over 3 years experience in web development and software engineering and 2+ years experience in Ethical Hacking.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 22 February 1996</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.techmaestroweb.com</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +234 (0) 812 144 2185</li>
                  <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Lagos, Nigeria</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 25</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> BSc.</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> oluwateeblaq@gmail.com</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                </ul>
              </div>
            </div>
            <p>
            I have been involved in many real-life projects at different stages and in different industries. I'm that guy that makes it all work fine at the end of the day.
            I also do penetration testing and ethical hacking. 
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Behind every successful project and every satisfied client are hours of putting in the work. I love quality so much that I'd never trade it for anything else when it comes to fulfilling projects. I deliver as expected, then a little more!</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">23</span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">52</span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">1,112</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-user-alt-5"></i>
              <span data-toggle="counter-up">1</span>
              <p>Hard Worker</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>I consider myself a really versatile person that wants to keep learning! However, I do not chase perfection, I chase progress. These are some of my hands-on skills and what makes me able to serve you to the best of your expectations and beyond.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Python <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML/CSS <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">devOps <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Ethical Hacking <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Graphics Design <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Hard-working web developer with a flair for creating elegant solutions in the least amount of time. Developed a workspace app, customer web portal, company website, and blog application for a writer. Passionate about software architecture and cloud computing. Regular attendee of web developer meetups and hackathons.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Oluwatosin Olasupo</h4>
              <p><em>Innovative and deadline-driven Full Stack Web Developer with 3+ years of experience developing user-centered web applications from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>Lagos State, Nigeria</li>
                <li>+234 (0) 812 144 2185</li>
                <li>oluwateeblaq@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Science in Civil &amp; Environmental Engineering</h4>
              <h5>2014 - 2019</h5>
              <p><em>University of Lagos, Lagos, Nigeria</em></p>
            </div>
            <h3 class="resume-title">Professional Certification</h3>
            <div class="resume-item">
              <h4>CNSS, Certified Network Security Specialist</h4>
              <h5>2020</h5>
              <p><em>International Cybersecurity Institute, ICSI</em></p>
            </div>
            <div class="resume-item">
              <h4>NSE 2, Network Security Associate</h4>
              <h5>2020</h5>
              <p><em>Fortinet NSE Institute</em></p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Lead Developer</h4>
              <h5>2021 - Present</h5>
              <p><em>TechMaestro Web, Lagos, NG </em></p>
              <ul>
                <li>Lead in the design, development, and implementation of real-life projects using cutting-edge technologies.</li>
                <li>Delegate tasks to the members of the team and provide counsel on all aspects of the project. </li>
                <li>Supervise the assessment of all design materials in order to ensure quality and accuracy of the design implementation.</li>
                <li>Create presentations and proposals for clients</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Backend Developer</h4>
              <h5>2019 - 2020</h5>
              <p><em>NextGen Tech, Lagos, NG</em></p>
              <ul>
                <li>Developed numerous web applications, APIs and microservices.</li>
                <li>Responsible for the maintenance and development of projects’ backend, integration with the frontend and third-party web services</li>
                <li>Recommended and consulted with clients on the most appropriate approach to solving business needs.</li>
                <li>Created 4+ presentations and proposals a month for clients and account managers.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Below, you'd find SOME of my recent works. I let them speak for me but as I always say, "please don't take my words for it, come try it out for yourself". Come be a part of my portfolio!</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-api">API</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-api">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/api.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Employee API</h4>
                <p>Employee API was built to manage company employees' details, serving as an endpoint between the database and the frontend GUI.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/spaces.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>SPACES.NG</h4>
                <p>SpacesNG is an application aimed at helping people find an efficient and reliable working space around their location.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/fileconvert.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>File Converter App</h4>
                <p>File converter is an application for converting files from one extension to another as well as for combining PDF files.</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>I am a product of what I progressively learn and repeatedly do. Excellence, is then not an act for me, but a habit.</p>
        </div>
        
        <div class="row">
          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
                </svg>
                <i class="bx bx-layer"></i>
              </div>
              <h4><a href="#">Full Stack Web Development</a></h4>
              <p>I develop, deploy and provide support for web and mobile applications, libraries and APIs.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                </svg>
                <i class="bx bx-network-chart"></i>
              </div>
              <h4><a href="#">Network Security</a></h4>
              <p>I conduct security assessment, testing and patching within the whole IT infrastructure: applications, networks, remote access software.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                </svg>
                <i class="bx bx-file"></i>
              </div>
              <h4><a href="#">Graphics Design</a></h4>
              <p>I create beautiful visually compelling contents to communicate your messages to your targetted audience.</p>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">

          <div class="testimonial-item">
            <img src="{% static 'assets/img/testimonials/tle.png' %}" class="testimonial-img" alt="">
            <h3>Feyishara Bamigboye</h3>
            <h4>CEO &amp; Founder, The Logical Explanation</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I've been working with Oluwatosin for quite a while now and I can assure you that the quality of his work always meets expectation as anticipated. As a matter of fact, it's better than expectation!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'assets/img/testimonials/male.png' %}" class="testimonial-img" alt="">
            <h3>Chris Madufor</h3>
            <h4>Frontend Developer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Special shoutout to Oluwatosin, implementing the features were quite difficult, but he made it work. He always does.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'assets/img/testimonials/male.png' %}" class="testimonial-img" alt="">
            <h3>Imran A.</h3>
            <h4>Client</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I have tried different agencies and freelancers to help build my app and didn't get my deliverables. Oluwatosin, however, did a perfect job! I'll always recommend.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Ads Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Special Mentions</h2>
          <p>My deepest appreciation goes to these organizations that has made and continues to make learning programming and gaining hands-on industrial experience as available as it can possibly get.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-api">
            <div class="portfolio-wrap sponsorship-ads">
              <img src="{% static 'assets/img/zuri.png' %}" class="img-fluid img-center" alt="">
              <div class="portfolio-info">
                <h4><a href="https://internship.zuri.team">Zuri Internship</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap sponsorship-ads">
              <img src="{% static 'assets/img/hng.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://hng.tech">HNG Internship</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap sponsorship-ads">
              <img src="{% static 'assets/img/i4g.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://ingressive.org">Ingressive4Good</a></h4>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Ads Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Bajulaiye Road, Somolu, Lagos State, Nigeria</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>oluwateeblaq@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+234 (0) 812 144 2185</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="{% url 'resume:index' %}" method="post" role="form" class="php-email-form">
                {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              {% if messages %}
               {% for message in messages %}
              <div class="mb-3">
                <div class="sent-message">{{ message }}</div>
              </div>
                {% endfor %}
              {% endif %}
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Oluwatosin Olasupo</h3>
      <p>A well-experienced web developer with a track record of delivering quality services and satisfying clients.</p>
      <div class="social-links">
        <a href="https://twitter.com/Oluwa_teeblaQ" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/olasupo.tosin" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/oluwateeblaq/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://github.com/TeeblaQ1" class="google-plus"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/oluwatosin-olasupo-b8224b156" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Oluwatosin Olasupo</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>